<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cloudway.mcpieper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".NotificationProvider"
        android:allowBackup="true"
        android:icon="@drawable/mcpieper_icon"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.cloudway.mcpieper.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cloudway.mcpieper.LoginActivity"
            android:label="Login" />
        <activity android:name="com.cloudway.mcpieper.Notification" />

        <service android:enabled="true" android:name="com.cloudway.mcpieper.NotificationMgr">
            <!--<intent-filter>
                <action android:name="com.cloudway.NotificationMgr" />
            </intent-filter>-->
        </service>
        <receiver android:name=".autostart" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Receiver" android:enabled="true" android:exported="false"/>
        <receiver android:name=".Widget_one_Provider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_one_info" />
        </receiver>
        <service android:name=".BackgroundJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
    </application>

</manifest>