<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mcpieperteam.mcpieper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.mcpieperteam.mcpieper.NotificationProvider"
        android:allowBackup="true"
        android:icon="@drawable/mcpieper_icon"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.mcpieperteam.mcpieper.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mcpieperteam.mcpieper.LoginActivity"
            android:label="Login" />
        <activity android:name="com.mcpieperteam.mcpieper.Notification" />

        <service android:enabled="true" android:name="com.mcpieperteam.mcpieper.NotificationMgr">
            <!--<intent-filter>
                <action android:name="mcpieperteamteam.NotificationMgr" />
            </intent-filter>-->
        </service>
        <receiver android:name="com.mcpieperteam.mcpieper.autostart" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.mcpieperteam.mcpieper.Widget_one_Provider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_one_info" />
        </receiver>
        <service android:name="com.mcpieperteam.mcpieper.BackgroundJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <service
            android:name=".McFirebaseInstanceServiece"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>